#root {
  margin: 0 auto;
  padding: 2rem;
}
body {
  background-color: black;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.no {
  color: red;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.yes {
  color: green;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: black;
  color: white;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ad {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
