html,
#root {
  /* height: 100%; */
  margin: 0 auto;
  box-sizing: border-box;
}
body {
  background-color: black;
  color: white;
  margin: 0;
  padding: 0;
  /* width: 100vw; */
  /* height: 100vh; */
  /* overflow-x: hidden; */
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  /* height: 100vh; */
  text-align: center;
  padding-bottom: 40px;
  padding-inline: 15px;
}

.no {
  color: red;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.yes {
  color: green;
  font-size: 4rem;
  font-weight: 700;
  margin: 0;
  padding: 0;
}

.footer {
  background-color: black;
  color: white;
  text-align: center;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.ad {
  font-size: 1.5rem;
}

.countdown {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

.countdown-text {
  margin: 0;
  padding: 0;
}

.countdown-time {
  display: flex;

  margin: 0;
  padding: 0;
}

.countdown-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 20px;
  padding: 0;
}

.countdown-value {
  font-weight: bold;
  font-size: 4rem;
  margin: 0;
  padding: 0;
}

.countdown-label {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

.countdown-seconds {
  color: red;
}

.video-container {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%; /* 16:9 aspect ratio (height / width) */
  margin-bottom: 1rem;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .countdown-value {
    font-size: 2rem;
  }

  .countdown-label {
    font-size: 1rem;
  }
  .ad {
    font-size: 1rem;
    padding: 5px;
  }
  .title {
    font-size: 2rem;
  }
  .no,
  .yes {
    font-size: 2rem;
  }
}
